extends layout

block content
  include templates/header

  h1= title
  p Welcome to #{title}
  p This is the console id : #{id}
  p This is the console name : #{name}
  p This is the console aliases : #{aliases}
  p This is the consoles games : #{games}
  p This is the console type : #{type}