extends layout

include templates/header.jade

block content
  h1= title
  p Welcome to #{title}
  p This is the console id : #{id}
  p This is the console name : #{name}
  p This is the console aliases : #{aliases}