extends layout

block content
  include templates/header
  
  h1= title
  p Welcome to #{title}
  p This is the game id : #{id}
  p This is the game name : #{name}
  p This is the game bio : #{launchdate}
